{% extends "layout_data.html" %}
{% block content %}

    <table>
      <tr>
        <th>ARCHIVOS</th>
        <th>ESTATUS</th>
        <th>ACCIONES</th>
      </tr>

      {% for audit in audits.items %}
        <tr>

          {% if audit.state == 1 %}
            <td>
              <a class="mr-2" href="{{ url_for('audit.download_audit_inform', audit_id=audit.id) }}">
                {{ audit.name }}
              </a>
            </td>
            <td>AUDITORIA TERMINADA</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm m-1"  onclick="callDeleteModal('{{url_for('audit.delete_audit', audit_id=audit.id) }}')">
                Delete
              </button>
            </td>
          {% else %}
            <td>{{ audit.name }}</td>
            <td>AUDITORIA EN CURSO</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm m-1" >
                Delete
              </button>
            </td>


          {% endif %}

        </tr>
      {% endfor %}
    </table>

    <br>

    {% for page_num in audits.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if audits.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('audit.show_all_audit', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('audit.show_all_audit', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" id="deletemodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <h5 class="modal-title" id="deleteModalLabel">
              Usted desea borrar este informe?
              Este paso es inrreversible
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            <div id="formdeleteaudit">
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>

      function callDeleteModal(informe_id){

          var formdeleteaudit = "<form action="+informe_id+" method='POST'>";
          formdeleteaudit += "<input class='btn btn-danger' type='submit' value='Delete'>"
          formdeleteaudit += "</form>";
          document.getElementById("formdeleteaudit").innerHTML = formdeleteaudit;
          $("#deleteModal").modal();
      }

    </script>
{% endblock content %}
